Repository sparta/sparta, pull requests merged in 2021-12, with the labels that each got.

#305 Fix Kokkos memory bug when tvib modeflag=0
  src/KOKKOS/compute_tvib_grid_kokkos.cpp
  src/KOKKOS/surf_collide_diffuse_kokkos.cpp
Labels: KOKKOS package, bugfix

#306 Fix issues in Kokkos compute_tvib_grid
  src/KOKKOS/compute_tvib_grid_kokkos.cpp
Labels: KOKKOS package, bugfix

#308 Update to Kokkos compute_thermal_grid
  src/KOKKOS/compute_lambda_grid_kokkos.cpp
  src/KOKKOS/compute_thermal_grid_kokkos.cpp
Labels: KOKKOS package, bugfix

#307 More vibmodes
  doc/species.html
  doc/species.txt
  src/particle.cpp
  src/particle.h
Labels: enhancement

#309 Tweaks to Kokkos atomics
  lib/kokkos/Makefile.kokkos
  src/KOKKOS/collide_vss_kokkos.cpp
  src/KOKKOS/fix_ave_histo_kokkos.h
  src/KOKKOS/react_tce_kokkos.h
  src/KOKKOS/surf_collide_diffuse_kokkos.h
  src/KOKKOS/surf_collide_piston_kokkos.h
  src/KOKKOS/surf_collide_specular_kokkos.h
  src/KOKKOS/surf_collide_transparent_kokkos.h
  src/KOKKOS/surf_collide_vanish_kokkos.h
  src/KOKKOS/update_kokkos.cpp
Labels: KOKKOS package

#304 Add Kokkos version of fix ambipolar
  doc/Section_commands.txt
  doc/fix_ambipolar.txt
  src/KOKKOS/Install.sh
  src/KOKKOS/collide_vss_kokkos.cpp
  src/KOKKOS/collide_vss_kokkos.h
  src/KOKKOS/comm_kokkos.cpp
  src/KOKKOS/fix_ambipolar_kokkos.cpp
  src/KOKKOS/fix_ambipolar_kokkos.h
  src/KOKKOS/fix_temp_rescale_kokkos.cpp
  src/KOKKOS/fix_vibmode_kokkos.h
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/particle_kokkos.cpp
  src/KOKKOS/particle_kokkos.h
  src/KOKKOS/react_bird_kokkos.cpp
  src/KOKKOS/react_bird_kokkos.h
  src/collide.cpp
  src/collide.h
  src/collide_vss.cpp
  src/compute_reduce.cpp
  src/fix_ablate.cpp
  src/fix_ambipolar.cpp
  src/fix_ambipolar.h
  src/fix_temp_rescale.cpp
  src/react.h
Labels: enhancement, KOKKOS package

#310 Allow Kokkos surf_collide_diffuse to use fixes with custom data
  src/KOKKOS/fix_ambipolar_kokkos.cpp
  src/KOKKOS/fix_ambipolar_kokkos.h
  src/KOKKOS/fix_vibmode_kokkos.cpp
  src/KOKKOS/fix_vibmode_kokkos.h
  src/KOKKOS/kokkos_copy.h
  src/KOKKOS/surf_collide_diffuse_kokkos.cpp
  src/KOKKOS/surf_collide_diffuse_kokkos.h
  src/KOKKOS/surf_collide_piston_kokkos.cpp
  src/KOKKOS/surf_collide_specular_kokkos.cpp
  src/KOKKOS/surf_collide_transparent_kokkos.cpp
  src/KOKKOS/surf_collide_vanish_kokkos.cpp
  src/KOKKOS/update_kokkos.cpp
  src/compute.cpp
  src/fix.cpp
  src/fix.h
  src/fix_ambipolar.cpp
  src/fix_ambipolar.h
  src/fix_vibmode.cpp
  src/fix_vibmode.h
  src/surf_collide_diffuse.h
Labels: enhancement, KOKKOS package

#312 Rename gpu/direct to gpu/aware in Kokkos package
  doc/package.txt
  src/KOKKOS/comm_kokkos.cpp
  src/KOKKOS/compute_boundary_kokkos.cpp
  src/KOKKOS/irregular_kokkos.cpp
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos.h
  src/KOKKOS/react_bird_kokkos.cpp
Labels: KOKKOS package
