Repository sparta/sparta, pull requests merged in 2022-01, with the labels that each got.

#316 Update restart file to include all global options
  doc/global.txt
  src/grid.cpp
  src/read_restart.cpp
  src/update.cpp
  src/write_restart.cpp
Labels: enhancement

#321 Fix surface reaction reference in variable
  src/variable.cpp
Labels: bugfix

#322 Small tweaks to Kokkos package
  src/KOKKOS/fix_balance_kokkos.cpp
  src/KOKKOS/fix_vibmode_kokkos.h
  src/KOKKOS/grid_kokkos.cpp
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos.h
  src/KOKKOS/particle_kokkos.cpp
  src/KOKKOS/update_kokkos.cpp
Labels: KOKKOS package, bugfix

#323 More changes for Kokkos HIP
  lib/kokkos/Makefile.kokkos
  lib/kokkos/Makefile.targets
  src/KOKKOS/kokkos_type.h
  src/MAKE/Makefile.kokkos_hip
Labels: enhancement, KOKKOS package
