Repository sparta/sparta, pull requests merged in 2022-11, with the labels that each got.

#372 Increase MAXLINE in fix_emit_face_file to prevent overflow
  src/fix_emit_face_file.cpp
Labels: enhancement

#373 Properly align pointers for Kokkos GPU
  src/KOKKOS/compute_eflux_grid_kokkos.cpp
  src/KOKKOS/compute_grid_kokkos.cpp
  src/KOKKOS/compute_pflux_grid_kokkos.cpp
  src/KOKKOS/compute_thermal_grid_kokkos.cpp
  src/KOKKOS/compute_tvib_grid_kokkos.cpp
  src/KOKKOS/fix_emit_face_kokkos.h
  src/KOKKOS/kokkos_copy.h
  src/KOKKOS/particle_kokkos.h
  src/KOKKOS/update_kokkos.cpp
  src/MAKE/Makefile.kokkos_hip
  src/grid.cpp
  src/grid.h
  src/memory.cpp
  src/memory.h
  src/particle.cpp
  src/particle.h
  src/spatype.h
Labels: KOKKOS package, bugfix

#369 Moved ParaView tools documentation
  doc/Section_howto.html
  doc/Section_howto.txt
  doc/Section_tools.html
  doc/Section_tools.txt
  tools/paraview/README
  tools/paraview/README_GRID_2_PARAVIEW_CELLS
Labels: documentation, paraview
