Repository sparta/sparta, pull requests merged in 2023-02, with the labels that each got.

#376 Added Argon shock tube example
  cmake/common/set/sparta_cmake_defaults.cmake
  examples/shock_tube/ar.species
  examples/shock_tube/ar.vss
  examples/shock_tube/in.shocktube
  examples/shock_tube/log.03Feb23.mpi_1.shocktube
  examples/shock_tube/log.03Feb23.mpi_4.shocktube
Labels: enhancement

#389 Enable particle/reorder without collisions
  doc/global.txt
  src/KOKKOS/update_kokkos.cpp
Labels: enhancement, KOKKOS package

#394 Update Kokkos library bundled with SPARTA to v3.7.1
  lib/kokkos/CHANGELOG.md
  lib/kokkos/CMakeLists.txt
  lib/kokkos/Makefile.kokkos
  lib/kokkos/algorithms/cmake/Dependencies.cmake
  lib/kokkos/algorithms/src/Kokkos_Sort.hpp
  lib/kokkos/bin/nvcc_wrapper
  lib/kokkos/cmake/KokkosCore_config.h.in
  lib/kokkos/cmake/compile_tests/cuda_compute_capability.cc
  lib/kokkos/cmake/kokkos_arch.cmake
  lib/kokkos/containers/cmake/Dependencies.cmake
  lib/kokkos/containers/src/Kokkos_DynRankView.hpp
  lib/kokkos/containers/src/Kokkos_DynamicView.hpp
  lib/kokkos/containers/src/Kokkos_OffsetView.hpp
  lib/kokkos/containers/unit_tests/CMakeLists.txt
  lib/kokkos/containers/unit_tests/TestCompileMain.cpp
  lib/kokkos/containers/unit_tests/TestCreateMirror.cpp
  lib/kokkos/core/cmake/Dependencies.cmake
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_BlockSize_Deduction.hpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Half_Conversion.hpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Instance.cpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_KernelLaunch.hpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Locks.cpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Locks.hpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Parallel_MDRange.hpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Parallel_Range.hpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Parallel_Team.hpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_ReduceScan.hpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_WorkGraphPolicy.hpp
  lib/kokkos/core/src/HIP/Kokkos_HIP_Parallel_Range.hpp
  lib/kokkos/core/src/HIP/Kokkos_HIP_ReduceScan.hpp
  lib/kokkos/core/src/HIP/Kokkos_HIP_Shuffle_Reduce.hpp
  lib/kokkos/core/src/Kokkos_CopyViews.hpp
  lib/kokkos/core/src/Kokkos_Macros.hpp
  lib/kokkos/core/src/Kokkos_View.hpp
  lib/kokkos/core/src/Kokkos_WorkGraphPolicy.hpp
  lib/kokkos/core/src/OpenACC/Kokkos_OpenACC_Traits.hpp
  lib/kokkos/core/src/OpenMPTarget/Kokkos_OpenMPTarget_Instance.cpp
  lib/kokkos/core/src/SYCL/Kokkos_SYCL.cpp
  lib/kokkos/core/src/SYCL/Kokkos_SYCL_Parallel_Team.hpp
  lib/kokkos/core/src/impl/Kokkos_ClockTic.hpp
  lib/kokkos/core/src/impl/Kokkos_Core.cpp
  lib/kokkos/core/src/impl/Kokkos_ViewMapping.hpp
  lib/kokkos/core/unit_test/CMakeLists.txt
  lib/kokkos/core/unit_test/TestCompileMain.cpp
  lib/kokkos/core/unit_test/TestCreateMirror.cpp
  lib/kokkos/core/unit_test/TestDetectionIdiom.cpp
  lib/kokkos/core/unit_test/TestScan.hpp
  lib/kokkos/core/unit_test/TestTeam.hpp
  lib/kokkos/core/unit_test/TestTeamReductionScan.hpp
  lib/kokkos/core/unit_test/TestViewIsAssignable.hpp
  lib/kokkos/master_history.txt
  lib/kokkos/simd/cmake/Dependencies.cmake
  lib/kokkos/tpls/.clang-format
  lib/kokkos/tpls/desul/include/desul/atomics/Lock_Array_Cuda.hpp
  lib/kokkos/tpls/desul/src/Lock_Array_CUDA.cpp
Labels: KOKKOS package

#395 Add Makefile for SNL Vortex machine
  src/MAKE/Makefile.vortex_kokkos
Labels: KOKKOS package

#397 Fix bug with Kokkos bitmasks
  src/KOKKOS/grid_kokkos.cpp
  src/sparta_masks.h
Labels: KOKKOS package, bugfix
